---
import Header from '../components/Header.vue'
---

<div>
  <div class='relative min-h-screen max-w-screen overflow-x-hidden bg-gray-50 dark:bg-gray-900'>
    <Header client:only />
  </div>
  <!--
	This is a test 
	<div class="options fixed bottom-0 right-0 mb-6 mr-4 hidden xl:flex items-center ">
	  <LanguageSwitcher class="mr-2" />
	  <ThemeSwitcher class="mr-2" />
	</div>
   -->
</div>

<style>

</style>
