@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: Roboto, Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
